<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered login" role="document">
    <div class="modal-content login-wrapper">
      <div class="formBx">

      <template v-if="isSignUp">
        <%= form_for User.new do |f| %>
          <h2>{{ form_title }}</h2>
          <div class="inputBx">
            <%= f.text_field :name %>
            <span>full name</span>
          </div>
          <div class="inputBx" v-if="isSignUp">
            <%= f.email_field :email %>
            <span>email</span>
          </div> 
          <div class="inputBx">
            <%= f.password_field :password %>
            <span>password</span>
          </div>
          <div class="inputBx">
            <%= f.password_field :password_confirmation %>
            <span>password (confirm)</span>
          </div>
          <div class="inputBx row" v-if="!isSignUp">
            <%= f.submit "Login", class: "submit col-4" %>
          </div>
          <div class="inputBx row" v-if="isSignUp">
            <%= f.submit "SignUp", class: "submit col-4" %>
          </div>
          <div class="inputBx row">
            <%= f.submit "Login by TestUser", class: "submit col-9" %>
          </div>
        <% end %>
      </template>
      </div>
      <div class="imgBx">
        <%= image_tag "ice.png" %>
      </div>
    </div>
  </div>
</div>

<%= javascript_pack_tag "sign_up_and_in" %>






