<div id="top-container">
  <div class="top-main-wrapper">
    <div class="top-search-wrapper">
      <h2>DiShareへようこそ！</h2>
      <p><span>"美味しい"</span>をシェアしましょう！</p>
      <form>
        <input type="text" v-model="keyword" @click="inputKeyword" placeholder="例: お肉 サラダ">
        <a href="#top-rests-wrapper" class="searchBtn" @click="searchRest">
          <i class="fas fa-search"></i>
        </a>
        <div :class="{details: true, hidden: isHidden}">
          <a href="#top-rests-wrapper" class="btn btn-success" @click="searchNearRest">近くのお店を探す</a>
          <a href="#top-rests-wrapper" class="btn btn-primary" @click="searchRest">人気のお店を探す</a>
        </div>
      </form>
      <p>キーワードを入力して、店舗を検索してみましょう</p>
    </div>
  </div>

  <div class="top-rests-wrapper" id="top-rests-wrapper">
    <div class="card"  v-for="rest in rests" :key="rest.name">
      <div class="imgBx">
        <img :src="rest.image_url.shop_image1" alt="" v-if="rest.image_url.shop_image1">
        <img :src="rest.image_url.shop_image2" alt="" v-else-if="rest.image_url.shop_image2">
        <p v-else>画像ないです</p>
      </div>
      <div class="infoBx">
        <span class="badge badge-success">
          {{ rest.access.station }}から徒歩{{ rest.access.walk }}分
        </span>
        <p class="name">{{ rest.name }}</p>
        <p class="opentime">平均予算  {{ rest.budget }}円</p>
        <p class="opentime" v-if="rest.lunch">ランチ予算  {{ rest.lunch }}円</p>
        <button @click="showRestInfo(rest)" data-toggle="modal" data-target="#showRestModal" class="show">詳細を見る</button>
      </div>  
    </div>
  </div>
  <%= render 'show_rest_modal' %>
</div>
<%= javascript_pack_tag "search" %>
  
  <div id="app-test">
    <input type="text" v-model="test">
    
    <button @click="getData" data-toggle="modal"  class="btn btn-outline-primary">1</button>
    <ul>
      <li v-for="user in users" :key="user.name">
        <p  data-toggle="modal" data-target="#testModal" @click="showModal(user)">
          {{ user.name }}
        </p>
      </li>
    </ul>
    <input type="text" v-model="value">
    <div class="modal fade" id="testModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">{{value}}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            {{ address }}
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="form-test"></div>
  <div id="counter"></div>
  <%= javascript_pack_tag "counter" %>
<% if Rails.env == "development" %>
  <h1>開発環境です</h1>
  <h1><%= @doumo.name %></h1>
<% elsif Rails.env == "production" %>
  <h1>本番環境です5</h1>
  <h1><%= @doumo.name %></h1>
<% end %>
